h1 {
  color: orange;
  text-align: center;
}
p {
  font-size: 14px;
}
#intro {
  font-size: 18px;
}
.highlight {
  background-color: #f0f099;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}